<% content_for :body_class, "scan" %>
<section class="activity">
  <article>
    <h1>Help Aanya start a community veg patch in Harehills Park</h1>

    <p>Aanya is a Co-op member, and she’s starting a community garden near the playground.</p>

    <p>Learn how to grow, meet your neighbours and get something good started in Harehills. Open to all.</p>
  </article>
  <aside>
    <img class="organiser-avatar" src="<%= image_path 'member.png' %>" alt="Picture of member">

    <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=15&center=53.8087%2C-1.5016&key=AIzaSyCmK5v3d04HrhlobCbLQiLPXKZO7FX3a44"></iframe>

    <div class="group-members">
      <h2>Join 3 other Co-op members</h2>
      <img src="<%= image_path 'anonymous.svg' %>" alt="Another member">
      <img src="<%= image_path 'anonymous.svg' %>" alt="Another member">
      <img src="<%= image_path 'anonymous.svg' %>" alt="Another member">
    </div>
  </aside>
</section>
<footer>
  <img src="<%= image_path 'member-card.svg' %>" alt="Membership card">
  <p>Scan your card to give Co-op permission to share your email address with Aanya</p>
</footer>
